.aptitude{
    position: relative;
    width: 40%;
    background-color: black;
    color: white;
    padding: 1rem;
    border: solid #FF635C 2px;
    box-shadow: 0px 0px 15px 1px #FF635C;
    opacity: 0.8;
}

.aptitude .fileEffect1{
    left: -2px;
}

.aptitude .fileEffect2{
    left: 60px;
    top: -20px;
}

.aptitudeTitle{
    font-family: 'Cyberpunk';
    font-size: xx-large;
    width: auto;
    color: #FFF001;
    text-shadow: 2px 2px 0px #56BED9;
    text-align: center;
}