
.cvBanner {
  position: relative;
  background-color: black;
  margin: 2rem;
  margin-top: 5rem;
  font-family: "Cyberpunk";
  font-size: xx-large;
  text-align: center;
  color: #FFF001;
  text-shadow: 2px 2px 0px #56BED9;
  border: solid #FF635C 2px;
  box-shadow: 0px 0px 15px 1px #FF635C;
  opacity: 0.8;
}


