.fileEffect1{
    position: absolute;
    bottom: 100%;
    left: -2px;
    height: 1rem;
    width: 4rem;
    border: solid #FF635C 2px;
    border-right: hidden;
}

.fileEffect2{
    position: absolute;
    bottom: 101%;
    left: 60px;
    height: 1rem;
    width: 4rem;
    border-top: solid #FF635C 2px;
    transform: rotate(15deg);
    transform-origin: left;
}