@keyframes rotateIcon {
    0%{
        transform: rotateY(0deg);
    }

    100%{
        transform: rotateY(360deg);
    }
}

.selectMode{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    border-bottom: solid #FF635C 2px;
    box-shadow: 0px 0px 15px 1px #FF635C;
    font-family: 'Cyberpunk';
}

.rotateLink{
    display: flex;
    justify-content: space-between;
    width: 20rem;
    font-size: 50px;
}

.rotateLink > a {
    color: black;
    animation: rotateIcon 5s linear infinite;
}

.cube{
    position: relative;
    width: 50px;
    height: 50px;
    transform-style: preserve-3d;
}

.cube__face{
    position: absolute;
    width: 50px;
    height: 50px;
    background: #FFF001;
    border: 1px solid black;
}

.cube__face--front{ 
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg) translateZ(8px); 
}

.cube__face--right{ 
    width: 15px;
    transform: rotateY(90deg) translateZ(44px); 
}

.cube__face--back{ 
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg) translateZ(8px); 
}

.cube__face--left { 
    width: 15px;
    transform: rotateY(-90deg) translateZ(8px); 
}

.cube__face--back > i{ 
    transform: rotateY(180deg);
}